extra/NodeRED/flow.json
[
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "4d3c1922cd944ed4b44a1cf90d6e5632.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "tls_config",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "tls_config",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "ui_base_config",
        "type": "ui-base",
        "name": "Smart Garden UI",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "theme": "ui_theme_config"
    },
    {
        "id": "ui_theme_config",
        "type": "ui-theme",
        "name": "Premium Dark Theme",
        "colors": {
            "surface": "#1e1e1e",
            "primary": "#00e676",
            "bgPage": "#121212",
            "groupBg": "#242424",
            "groupOutline": "#333333"
        },
        "themeState": {
            "base-color": {
                "default": "#00e676",
                "value": "#00e676",
                "edited": true
            },
            "page-titlebar-backgroundColor": {
                "value": "#121212",
                "edited": true
            },
            "page-backgroundColor": {
                "value": "#121212",
                "edited": true
            },
            "group-textColor": {
                "value": "#00e676",
                "edited": true
            },
            "group-borderColor": {
                "value": "#333333",
                "edited": true
            },
            "group-backgroundColor": {
                "value": "#242424",
                "edited": true
            },
            "widget-textColor": {
                "value": "#ffffff",
                "edited": true
            },
            "widget-backgroundColor": {
                "value": "#1e1e1e",
                "edited": true
            },
            "widget-borderColor": {
                "value": "#333333",
                "edited": true
            },
            "base-font": {
                "value": "Inter, -apple-system, BlinkMacSystemFont, sans-serif"
            }
        }
    },
    {
        "id": "ui_page_garden",
        "type": "ui-page",
        "name": "🌿 Smart Garden",
        "ui": "ui_base_config",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "ui_theme_config",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": ""
    },
    {
        "id": "ui_group_env",
        "type": "ui-group",
        "name": "🌦️ Environment",
        "page": "ui_page_garden",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui_group_soil",
        "type": "ui-group",
        "name": "🌱 Soil & Motion",
        "page": "ui_page_garden",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui_group_controls",
        "type": "ui-group",
        "name": "⚙️ Manual Controls",
        "page": "ui_page_garden",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui_group_system",
        "type": "ui-group",
        "name": "🖥️ System Status",
        "page": "ui_page_garden",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "mqtt_in_telemetry",
        "type": "mqtt in",
        "name": "Telemetry",
        "topic": "garden/telemetry",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "fn_split_telemetry"
            ]
        ]
    },
    {
        "id": "mqtt_in_status",
        "type": "mqtt in",
        "name": "Status",
        "topic": "garden/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "fn_format_status"
            ]
        ]
    },
    {
        "id": "fn_format_status",
        "type": "function",
        "name": "Format LWT",
        "func": "if(msg.payload === 'online') {\n    msg.payload = '<span style=\"color:#00e676; font-weight:bold;\">🟢 ONLINE</span>';\n} else {\n    msg.payload = '<span style=\"color:#ff1744; font-weight:bold;\">🔴 OFFLINE</span>';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 60,
        "wires": [
            [
                "ui_text_status"
            ]
        ]
    },
    {
        "id": "ui_text_status",
        "type": "ui-text",
        "group": "ui_group_system",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gateway",
        "format": "<div v-html=\"msg.payload\"></div>",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "fn_split_telemetry",
        "type": "function",
        "name": "Split Data",
        "func": "var t = {payload: msg.payload.temp};\nvar h = {payload: msg.payload.hum};\nvar l = {payload: msg.payload.light};\nvar s = {payload: msg.payload.soil};\nvar m = {payload: msg.payload.motion ? '<span style=\"color:#ff1744; font-weight:bold;\">🚨 Detected</span>' : '<span style=\"color:#00e676;\">✅ Clear</span>'};\nvar md = {payload: msg.payload.mode};\nvar f = {payload: msg.payload.fan};\nvar led = {payload: msg.payload.led};\nreturn [t, h, l, s, m, md, f, led];",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            ["ui_gauge_temp"],
            ["ui_gauge_hum"],
            ["ui_gauge_light"],
            ["ui_gauge_soil"],
            ["ui_text_motion"],
            ["ui_switch_mode_state"],
            ["ui_switch_fan_state"],
            ["ui_switch_led_state"]
        ]
    },
    {
        "id": "ui_gauge_temp",
        "type": "ui-gauge",
        "name": "",
        "group": "ui_group_env",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "title": "Temperature",
        "units": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "sizes": "{\"0\":\"120\",\"1\":\"10\",\"2\":\"30\",\"3\":\"6\"}",
        "segments": [
            {"from": 0, "color": "#42a5f5"},
            {"from": 20, "color": "#66bb6a"},
            {"from": 30, "color": "#ffa726"},
            {"from": 40, "color": "#ef5350"}
        ],
        "className": "",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_gauge_hum",
        "type": "ui-gauge",
        "name": "",
        "group": "ui_group_env",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "title": "Humidity",
        "units": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "sizes": "{\"0\":\"120\",\"1\":\"10\",\"2\":\"30\",\"3\":\"6\"}",
        "segments": [
            {"from": 0, "color": "#ffa726"},
            {"from": 30, "color": "#66bb6a"},
            {"from": 70, "color": "#42a5f5"}
        ],
        "className": "",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_gauge_light",
        "type": "ui-gauge",
        "name": "",
        "group": "ui_group_env",
        "order": 3,
        "width": 6,
        "height": 2,
        "gtype": "bar",
        "title": "Light Level",
        "units": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": 1000,
        "sizes": "{\"0\":\"120\",\"1\":\"10\",\"2\":\"30\",\"3\":\"6\"}",
        "segments": [
            {"from": 0, "color": "#424242"},
            {"from": 200, "color": "#ffee58"}
        ],
        "className": "",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui_gauge_soil",
        "type": "ui-gauge",
        "name": "",
        "group": "ui_group_soil",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gauge-half",
        "title": "Soil Moisture",
        "units": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "sizes": "{\"0\":\"120\",\"1\":\"10\",\"2\":\"30\",\"3\":\"6\"}",
        "segments": [
            {"from": 0, "color": "#ef5350"},
            {"from": 20, "color": "#ffa726"},
            {"from": 40, "color": "#66bb6a"},
            {"from": 80, "color": "#42a5f5"}
        ],
        "className": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui_text_motion",
        "type": "ui-text",
        "group": "ui_group_soil",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "PIR Motion",
        "format": "<div v-html=\"msg.payload\"></div>",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_switch_mode_state",
        "type": "ui-switch",
        "name": "",
        "label": "Operation Mode",
        "tooltip": "",
        "group": "ui_group_system",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "topic": "garden/cmd/mode",
        "topicType": "str",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "#00e676",
        "offvalue": "manual",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "#ffa726",
        "className": "",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "mqtt_out_mode"
            ]
        ]
    },
    {
        "id": "ui_switch_fan_state",
        "type": "ui-switch",
        "name": "",
        "label": "Fan Control",
        "tooltip": "",
        "group": "ui_group_controls",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "topic": "garden/cmd/fan",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "#00e676",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "#424242",
        "className": "",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "fn_fan_out"
            ]
        ]
    },
    {
        "id": "fn_fan_out",
        "type": "function",
        "name": "Parse Fan",
        "func": "msg.payload = msg.payload ? 'on' : 'off';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 340,
        "wires": [
            [
                "mqtt_out_fan"
            ]
        ]
    },
    {
        "id": "ui_switch_led_state",
        "type": "ui-switch",
        "name": "",
        "label": "LED Control",
        "tooltip": "",
        "group": "ui_group_controls",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "topic": "garden/cmd/led",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "#ffee58",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "#424242",
        "className": "",
        "x": 540,
        "y": 380,
        "wires": [
            [
                "fn_led_out"
            ]
        ]
    },
    {
        "id": "fn_led_out",
        "type": "function",
        "name": "Parse LED",
        "func": "msg.payload = msg.payload ? 'on' : 'off';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 380,
        "wires": [
            [
                "mqtt_out_led"
            ]
        ]
    },
    {
        "id": "mqtt_out_mode",
        "type": "mqtt out",
        "name": "",
        "topic": "garden/cmd/mode",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "mqtt_out_fan",
        "type": "mqtt out",
        "name": "",
        "topic": "garden/cmd/fan",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "mqtt_out_led",
        "type": "mqtt out",
        "name": "",
        "topic": "garden/cmd/led",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 900,
        "y": 380,
        "wires": []
    }
]
